// body {
//   margin: 0;
//   font-family: Arial, Helvetica, sans-serif;
// }

.header-container {
  height: 100px;
  //border: 1px solid red;
  background-color: rgb(33, 37, 41);
  .top-header {
    height: 50%;
    // border: 1px solid black;
    border-bottom: 1px solid white;
    .logo-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      align-items: center;
      color: white;
      cursor: pointer;
    }
    .search-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      //border: 1px solid yellow;
      .btn-submit {
        border: none;
        background: none;
        i {
          color: white;
        }
      }
    }
    .log-in {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .btn-log-in {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        i {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  .bottom-header {
    .navbar {
      justify-content: center;
      gap: 5%;
      padding: 0;

      a {
        font-size: 20px;
        color: white;
        padding: 4px;
        &:hover {
          background-color: white;
          color: black;
        }
      }
      .active {
        border-bottom: 4px solid white;
      }
      .btn-cart {
        background: none;
        border: none;
        i {
          color: white;
        }
      }
    }
  }
}
